<header>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a>About us</a>
    <h1>InterMatch</h1>
    <a>Register/LogIn</a>
  </mat-toolbar>
</header>
<div class="container content">
  <div class="sliderCont">
    <mat-card>
      <img mat-card-image src="../../assets/images/discussionImg.jpg">
      <mat-card-title>Lorem ipsum dolor sit amet, consectetur</mat-card-title>
      <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum mauris ut diam
        vulputate, nec scelerisque magna maximus. Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu.
        Pellentesque feugiat molestie enim a aliquam. </mat-card-content>
    </mat-card>
  </div>


</div>
<footer>
  <mat-toolbar class="footerToolbar">
    <p>Contact us: <br>
      &nbsp;&nbsp;&nbsp;&nbsp; interMatch@outlook.com<br>
      &nbsp;&nbsp;&nbsp;&nbsp; +65 65748390
    </p>
    <span class="space"></span>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    </mat-toolbar>
</footer>