<div>
  <mat-toolbar>
    <span>InterMatch</span>
    <ul>
      <li><button mat-stroked-button routerLink="/login">Log in</button></li>
      <li><button mat-stroked-button routerLink="/signup">Register</button></li>
      <li><button mat-stroked-button routerLink="/login">About us</button></li>
      <li><button mat-stroked-button routerLink="/company">meow company</button></li>
      <li><button mat-stroked-button routerLink="/employee">meow employee</button></li>
    </ul>
  </mat-toolbar>
  <mat-card>

  </mat-card>

</div>
